.footer {
    background-color: $accent-background-color;
    padding-top: 60px;
    padding-bottom: 60px;


    &__adress {
      color: $hero-title-color;
      font-style: normal;
      font-size: 14px;
      line-height: 1.71;
    
      margin-top: 0px;
      margin-bottom: 9px;
  }

  @media screen and (min-width: 320px) and (max-width: 1199px) {
    text-align: center;
  }
}

.footer__flex-container {
  
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;

    font-weight: 700;
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}