.footer__logo {
    
    color: $hero-title-color;
    display: inline-block;
  
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
  
    margin-top: 0px;

    font-family: raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    text-decoration: none;

    &--white {
        color: $accent-color;
        margin-top: 0px;
    }
  }
