
  .header__site-nav {
  
    display: none;
    
    margin-left: 93px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
  
    list-style: none;

    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  .site-nav__link {

    transition-property: color;
    transition-duration: $transition-duration;
    transition-timing-function: $timing-function;
  
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  
    color: $title-text-color;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    &:hover, 
    &:focus {
      color: $accent-color;
    }
  }

  .site-nav__link.curent {
    color: $accent-color;

    &::after {

      content: '';
      display: block;
      background-color: $accent-color;
      width: 100%;
      height: 4px;
      border-radius: 2px;
    
      position: absolute;
      left: 0px;
      bottom: -2px;

      @media screen and (min-width: 767px) {
        display: none;
      }
      
    }
  }

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header__main-nav {
  display: flex;
  align-items: center;
}


.header-contacts {
  @media screen and (min-width: 768px) {
    display: block;
  }
}