  .product-list__item {
    margin-bottom: 30px;
    box-sizing: border-box;

    @media screen and (min-width: 768px) {
        width: calc(100% / 2 - 30px);
        margin: 15px;
      }

      @media screen and (min-width: 1200px) {
        width: calc(100% / 3 - 30px);
      }
  }

  .product-list {
      margin-top: 0px;
      margin-bottom: 0px;
      padding-left: 0px;

      @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
      }
  }

    .product-list__pct {
    max-width: 100%;
    display: block;
    height: auto;
  }
  
  .product-list__label {
    border-left: 1px solid $card-border-color;
    border-right: 1px solid $card-border-color;
    border-bottom: 1px solid $card-border-color;
    
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    }
  
  .product-list__title {
    color: $title-text-color;
  
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  
    margin-top: 0px;
    margin-bottom: 4px;
  }
  
  .product-list__text {
    font-size: 16px;
    line-height: 1.87;
  
    margin-top: 0px;
    margin-bottom: 0px;
  
    color: $primary-text-color;
  }
  
  .product-list__link {
    list-style: none;
    text-decoration: none;
    display: block;
  
    transition-property: box-shadow;
    transition-duration: $transition-duration;
    transition-timing-function: $timing-function;

    &:hover,
    &:focus {
        background: $hero-title-color;
        box-sizing: border-box;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  
  .product-list__thumb {
    position: relative;
    overflow: hidden;
  }
  
  .product-list__overlay {
    position: absolute;
    
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color:rgba(33, 150, 243, 0.9);
  
    transition-property: visibility, transform;
    transform: translateY(100%);
    transition-duration: $transition-duration;
    transition-timing-function: $timing-function;
    visibility: hidden;

    .product-list__link:hover &,
    .product-list__link:focus & {
        transform: translateY(0);
        visibility: visible;
    }
  }
  
  .product-list__description {
    display: flex;
    position: absolute;
    padding-top: 49px;
    padding-left: 24px;
    padding-right: 24px;
  
    width: 100%;
    height: 100%;
    margin: 0;

  
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: $hero-title-color;
  }
  
