.hero__title {
  color: $hero-title-color;

  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;

  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;

  @media screen and (min-width: 767px) {
    margin-top: 0px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1199px) {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.feature__title {
    margin-top: 0px;
    margin-bottom: 50px;
  
    color: $title-text-color;
  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
  }