$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$hero-title-color: #ffffff;
$accent-background-color: #2f303a;
$secondary-background-color: #f5f4fa;
$link-color:rgba(255, 255, 255, 0.6);
$header-border-color:#ECECEC;
$svg-color:#AFB1B8;
$card-border-color: #EEEEEE;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;
